/* Importamos a fonte Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0f172a; /* Azul muito escuro (Slate 900) */
  color: #e2e8f0; /* Texto em cinza bem claro, quase branco */
  line-height: 1.6;
}